---
http_interactions:
- request:
    method: get
    uri: https://connect.playground.runa.io/public/gifts/instant/db38667b-055e-446e-ac0f-bbf4b9227a95?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"e_code":{"amount":"0.01","barcode_format":"code-128","barcode_string":"2553847550730045","code":"2553847550730045","error_code":null,"error_string":null,"expiry_date":"2027-09-05","pin":"082145","status":"SUCCESS","type":"code","url":"https://spend.playground.runa.io/db38667b-055e-446e-ac0f-bbf4b9227a95"},"error_code":null,"error_details":null,"error_string":null,"order_id":"O-VJJLWJPV","status":"SUCCESS"}

        '
  recorded_at: Thu, 05 Sep 2024 12:17:01 GMT
recorded_with: VCR 3.0.3
