---
http_interactions:
- request:
    method: get
    uri: https://playground.runa.io/v2/product/1800FL-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Execution-Mode:
      - sync
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 98bb1fcc-9435-4ea3-8dda-f58becc574eb
      X-Amzn-Remapped-Content-Length:
      - '1674'
      X-Api-Version:
      - '2024-02-05'
      X-Amz-Apigw-Id:
      - doSD3E0yjoEEPnA=
    body:
      encoding: ASCII-8BIT
      string: '{"approval_state":"APPROVED","discount_multiplier":"0.0130","code":"1800FL-US","name":"1800Flowers","categories":["department-stores"],"countries_redeemable_in":["US"],"currency":"USD","customer_service":{"phone_number":"+18002425353","website_url":"https://www.freshgift.com"},"state":"LIVE","payout_type":"gift_card","is_orderable":true,"availability":"realtime","gift_card":{"barcode_format":"code-128","e_code_usage_type":"url-recommended","denominations":{"available_list":null,"minimum_value":"10.00","maximum_value":"100.00","type":"open"},"redeemable_at":"online","balance_check_url":null,"website_url":"https://www.freshgift.com","assets":{"card_image_url":"https://gift.runa.io/static/product_assets/1800FL-US/1800FL-US-card.png","icon_image_url":"https://gift.runa.io/static/product_assets/1800FL-US/1800FL-US-logo.png","primary_color":"#FFFFFF"},"expiry":{"date_policy":"Does
        not expire","in_months":0,"type":"indefinite"},"content_resources":{"description_markdown_url":"https://d2vjldeiu1zgxb.cloudfront.net/resources/1800FL-US/description.md","disclaimer_markdown_url":null,"locale":"en_GB","refund_policy_markdown_url":"https://d2vjldeiu1zgxb.cloudfront.net/resources/1800FL-US/refund_policy_markdown.md","reissuance_policy_markdown_url":"https://d2vjldeiu1zgxb.cloudfront.net/resources/1800FL-US/reissuance_policy_markdown.md","terms_buyer_markdown_url":"https://d2vjldeiu1zgxb.cloudfront.net/resources/1800FL-US/terms_buyer.md","terms_consumer_markdown_url":"https://d2vjldeiu1zgxb.cloudfront.net/resources/1800FL-US/terms_consumer.md","redemption_instructions_markdown_url":"https://d2vjldeiu1zgxb.cloudfront.net/resources/1800FL-US/redeem_markdown.md"}}}'
  recorded_at: Thu, 05 Sep 2024 11:32:53 GMT
recorded_with: VCR 3.0.3
