---
http_interactions:
- request:
    method: get
    uri: https://connect.playground.runa.io/public/gifts/instant/c02bd09f-0000-0000-0000-38f4143a01d1?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Sat, 03 Aug 2024 05:59:39 GMT
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <head>
        <title>Site Maintenance</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Runa error page." />
        <style>
            body {
              height: 100vh;
              width: 100vw;
              font-family: Arial, sans-serif;
              color: #000000;
              margin: 0
            }
            .error-page {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              height: 100vh;
            }
            .error-page-background-image {
              opacity: 0.3;
              position: absolute;
              top: 0;
              z-index: 0;
              height: 100%;
            }

            .error-page-content {
              display: block;
              z-index: 1;
              text-align: center;
              max-width: 500px;
            }
            .error-page-content-body {
              margin-top: 2rem;
            }
            .error-page footer {
              margin-top: 3rem;
              display: flex;
              gap: 1rem;
            }
            p {
              font-size: 16px;
              line-height: 24px;
            }
            a {
              color: #505bf0;
              text-decoration: none;
            }
            a:hover {
              color: #000000;
              text-decoration: underline;
            }
            @media (max-width: 767.98px) {
              .error-page-background-image {
                top: unset;
                width: 100%;
              }
              .error-page-content {
                max-width: 90%;
              }
            }
          </style>
        </head>
        <body>
        <div class="error-page">
        <img class="error-page-background-image" src="https://brand-assets.runa.io/icon-gradient.svg" />
        <article class="error-page-content">
        <header>
        <h2>We have experienced an unexpected error</h2>
        </header>
        <p class="error-page-content-body">
        We apologize for the inconvenience and appreciate your patience. Our
        engineers have already been notified, but you can always contact us
        <a href="/cdn-cgi/l/email-protection#f88b8d8888978a8cb88a8d9699d69197">here</a>. We'll be back online soon.
        </p>
        <p>&mdash; Thank you, The team at Runa.</p>
        </article>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
  recorded_at: Thu, 05 Sep 2024 12:35:29 GMT
recorded_with: VCR 3.0.3
