---
http_interactions:
- request:
    method: post
    uri: https://playground.runa.io/v2/order
    body:
      encoding: UTF-8
      string: '{"payment_method":null,"items":null,"description":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ed8d4890-ffee-41c1-927b-e3938d949982
      X-Amzn-Remapped-Content-Length:
      - '182'
      X-Api-Version:
      - '2024-02-05'
      X-Amz-Apigw-Id:
      - dejIRG8lDoEEndw=
    body:
      encoding: UTF-8
      string: '{
        "id": "O-01J6SE5EQXN8JY3AAZN5YF4T0A",
        "status": "COMPLETED",
        "created_at": "2024-09-02T13:18:09.148987+00:00",
        "completed_at": "2024-09-02T13:18:10.148987+00:00",
        "description": null,
        "payment_method": {
          "type": "ACCOUNT_BALANCE"
        },
        "currency": "USD",
        "total_discount": "0.00",
        "total_price": "10.00",
        "items": [
          {
            "id": "E-01J6SE5EQX13F3QH2TZ1A28NWY",
            "distribution_method": {
              "type": "PAYOUT_LINK",
              "template_id": "DT-01HPSF51G0ZWHJ3JTNWRH0WDYK"
            },
            "products": {
              "type": "SINGLE",
              "value": "1800FL-US"
            },
            "face_value": "10.00",
            "price": "10.00",
            "discount_multiplier": "0.0",
            "redemption_url": "https://spend.playground.runa.io/76eafac6-2b12-443a-b320-dfb94f685fd3",
            "payout": {
              "status": "ACTIVE",
              "status_updated_at": "2024-09-02T13:18:10.148987+00:00",
              "url": "https://spend.playground.runa.io/76eafac6-2b12-443a-b320-dfb94f685fd3",
              "expiry_date": null
            },
            "currency": "USD"
          }
        ],
        "transaction_detail": {
          "USD": {
            "value": "10.00",
            "fx": null
          }
        }
      }'
  recorded_at: Mon, 02 Sep 2024 12:40:21 GMT
recorded_with: VCR 3.0.3
