---
http_interactions:
- request:
    method: post
    uri: https://playground.runa.io/v2/order
    body:
      encoding: UTF-8
      string: '{"payment_method":"1","items":"2","description":"3"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 25882754-4870-4101-bb76-b89b546968e7
      X-Amzn-Errortype:
      - AccessDeniedException
      X-Amz-Apigw-Id:
      - dd6zmEr9joEEhlg=
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "type": "forbidden",
          "message": "You don't have permission to access the requested resource",
          "help": "Please check the path you are trying to access is correct and you have permission to access it. Also ensure you are using the correct API key in the 'X-Api-Key' header."
        }
  recorded_at: Mon, 02 Sep 2024 08:05:04 GMT
recorded_with: VCR 3.0.3
