---
http_interactions:
- request:
    method: post
    uri: https://playground.runa.io/v2/order
    body:
      encoding: UTF-8
      string: '{"payment_method":{"type":"ACCOUNT_BALANCE","currency":"USD"},"items":[{"face_value":10,"distribution_method":{"type":"PAYOUT_LINK","template_id":"DT-01HPSF51G0ZWHJ3JTNWRH0WDYK"},"products":{"type":"SINGLE","value":"1800FL-US"}}],"description":null}'
    headers:
      Content-Type:
      - application/json
      X-Execution-Mode:
      - sync
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7bf3ba60-73ac-45b2-8f7a-3c25f0cad159
      X-Amzn-Remapped-Content-Length:
      - '879'
      X-Api-Version:
      - '2024-02-05'
      X-Amz-Apigw-Id:
      - dknLCHK-joEEB1A=
    body:
      encoding: ASCII-8BIT
      string: '{"id":"O-01J6Y3JRYWCTNDRHP35302NZ30","status":"COMPLETED","created_at":"2024-09-04T08:49:23.420733+00:00","completed_at":"2024-09-04T08:49:24.420733+00:00","description":null,"payment_method":{"type":"ACCOUNT_BALANCE"},"currency":"USD","total_discount":"0.00","total_price":"10.00","items":[{"id":"E-01J6Y3JRYWRKYDTEHDDM9P2KV0","distribution_method":{"type":"PAYOUT_LINK","template_id":"DT-01HPSF51G0ZWHJ3JTNWRH0WDYK"},"products":{"type":"SINGLE","value":"1800FL-US"},"face_value":"10.00","price":"10.00","discount_multiplier":"0.0","redemption_url":"https://spend.playground.runa.io/4c77f610-fda9-4b7f-a06e-0c6feb10f604","payout":{"status":"ACTIVE","status_updated_at":"2024-09-04T08:49:24.420733+00:00","url":"https://spend.playground.runa.io/4c77f610-fda9-4b7f-a06e-0c6feb10f604","expiry_date":null},"currency":"USD"}],"transaction_detail":{"USD":{"value":"10.00","fx":null}}}'
  recorded_at: Wed, 04 Sep 2024 08:49:23 GMT
recorded_with: VCR 3.0.3
